.grandpaWalk {
    position: absolute;
    transform: translate(50%,-50%);
    transform: scale(-1,1);
	width: calc(340px / 6);
	background: url(img/grandpa.png);
    animation: animate6 1s steps(6) infinite reverse;
}

@keyframes animate6 {
	from
	{
		background-position: 0;	
	}
	to
	{
		background-position: 340px;	
	}
}