/* .homer {
	background-image: url(img/homersprite.png);
} */

button {
	margin: 10px;
	padding: 10px;
	background-color: Black;
	border-radius: 15px;
	color: white;
	border: solid 2px #ebdb34;
	font-family: 'Mansalva';
}

.homerStand {
	position: absolute;
	top: -115px;
	left: -18px;
	width: 190%;
	background: url(img/homerspritestand.png);
}

.homerRun {
	position: absolute;
	top: -115px;
	left: -18px;
	width: 190%;
	transform: translate(-50%,-50%);
	transform: scale(1,1);
	width: calc(925px / 9);
	background: url(img/homersprite.png);
	animation: animate 1s steps(9) infinite;
}

.homerRun2 {
	position: absolute;
	top: -115px;
	left: -18px;
	width: 190%;
	transform: translate(-50%,-50%);
	transform: scale(-1,1);
	width: calc(925px / 9);
	background: url(img/homersprite.png);
	animation: animate 1s steps(9) infinite;
}

@keyframes animate {
	from
	{
		background-position: 0;	
	}
	to
	{
		background-position: 925px;	
	}
}