/* .homer {
	background-image: url(img/homersprite.png);
} */

button {
	margin: 0px;
	padding: 10px;
	background-color: Black;
	border-radius: 15px;
	color: white;
	border: solid 2px white;
}

.homerStand {
	width: 90%;
	background: url(img/homerspritestand.png);
}

.homerRun {
	transform: translate(-50%,-50%);
	width: calc(925px / 9);
	background: url(img/homersprite.png);
	animation: animate 1s steps(9) infinite;
}

@keyframes animate {
	from
	{
		background-position: 0;	
	}
	to
	{
		background-position: 925px;	
	}
}