.milhouseWalk {
    position: absolute;
    transform: translate(50%,-50%);
    transform: scale(-1,1);
	width: calc(270px / 7);
	background: url(img/milhouse.png);
    animation: animate4 1s steps(7) infinite reverse;
}

@keyframes animate4 {
	from
	{
		background-position: 0;	
	}
	to
	{
		background-position: 270px;	
	}
}