.center {
  margin: 0 auto;
  text-align: center;
}

.modal {
  opacity: '0.9';
  background: #fff;
  background-color: #ddd;
  border: 5px solid #ebdb34;
  transition: all .8s;
  width: 90vw;
  margin-left: 5vw;
  height: 75%;
  font-family: 'Mansalva';
  z-index: 9999;
  position: absolute;
  margin: 0 4%;
}

.modal-header h3 {
  font-size: 26pt;
  padding: 50px 0 20px;
  margin: 0;
}

.modal-wrapper {
  background: #263238;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #ebdb34;
}

.modal button {
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  width: 110px;
  font-size: 0.8em;
  margin: 2px;
}
