div#modal_root {
  /* font-family: Mansalva, cursive; */
  font-family: VT323;
  z-index: 9999;
}

.modal-wrapper {
  /* transform: rotate(-2deg); */
  transition: all 3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 2em auto;
  padding: 1.5em;
  background: #263238;
  color: white;
  /* text-shadow: 5px 5px 10px #FF00E6; */
  min-width: 80%;
  border-radius: 5px;
  opacity: 1;
}

.modal-header h3 {
  font-size: 60px;
  margin: 0;
}
.modal-body p {
  font-size: 25px;
  margin: 0;
}

#close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.modal button {
  z-index: 9999;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  width: 110px;
  font-size: 1em;
  margin: 2px;
}
