/* .game {
	background-image: url("../components/img/springfield80s.png");
	background-attachment: scroll;
	background-size: inherit;
	background-repeat: no-repeat;
	height: 100vw;
	
} */

/* .game {
	
	background-attachment: scroll;
	background-size: inherit;
	background-repeat: no-repeat;
	
	
} */
