.start_div {
  margin: 0 auto;
  /* display: table-cell; */
  overflow: hidden;
  position: relative;
  height: 100vh;
  /* vertical-align: middle; */
  /* background: 
    linear-gradient(90deg, rgba(251, 255, 0, 0.8), rgba(27, 214, 58, 0) 70.71%),
    linear-gradient(0deg, rgba(0,255,255,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(300deg, rgba(0,0,255,.8), rgba(0, 255, 42, 0) 70.71%); */
  background-image: url(../components/img/DcRi_FsUQAAL2Pm.jpg);
  background-size: cover;
  /* position: relative; */
  background-position-y: -190px;
}

#start, .options {
  position: absolute;
  /* border: 2px dotted #eee; */
  background: transparent;
  font-size: 4vw;
  font-family: VT323;
  right: 20px;
  width: 150px;
  height: 100px;
  text-align: center;
  color: white;
  top: 320px;
  opacity: 0;
  animation: showhomervsbart 1s ease-in-out 3s 1 forwards;
  /* line-height: 1.3em; */
}


.options {  
  top: 40px;
}

.sprvicelogo {
  position: relative;
  top: 5vh;
  height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bart{
  animation: scale 3s infinite;
  animation-direction: alternate;
  /* animation-delay: 0.5s; */
}

.homerjumping {
  animation: scale 5s infinite;
  animation-direction: alternate;
  /* animation-delay: 3s; */
}

.bartimg {
  position: absolute;
  top: 5vh;
  left: -500px ;
  height: 35vh;
  display: block;
  animation: slidebart 1.5s forwards;
  animation-delay: 1s;
  filter: drop-shadow(0px 0px 5px black);
}

.homerjumpingimg {
  position: absolute;
  top: -5vh;
  left: 2550px ;
  height: 45vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: slidehomer 1.5s forwards;
  animation-delay: 1.2s;
  filter: drop-shadow(0px 0px 5px black);
}

.homervsbart {
  position: absolute;
  font-family: VT323;
  font-size: 8vw;
  bottom: 5vh;
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid white; */
  color: white;
  text-align: center;
  animation: showhomervsbart 2.5s forwards;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px rgb(195, 0, 255),
    0 0 40px rgb(195, 0, 255),
    0 0 80px #0ff;
  filter: drop-shadow(0px 0px 5px black);
  animation: neon 0.1s infinite;
}


.start_button, .sprvicelogo, .options {
  filter: drop-shadow(0px 0px 5px white);
}

audio {
  display: none;
}

@keyframes scale {
  100% { transform: scale(1.1);; }
}

@keyframes slidebart {
  100% { left: 33vw; }
}

@keyframes slidehomer {
  100% { left: 44vw; }
}

@keyframes showhomervsbart {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes neon {
  0% {
    text-shadow:
    0 0 5px #fff,
    0 0 5px rgb(195, 0, 255),
    0 0 20px rgb(195, 0, 255),
    0 0 30px #0ff;
    /* opacity: 1; */
  } 
  /* 50% {
    text-shadow:
    0 0 3px #fff,
    0 0 5px rgb(195, 0, 255),
    0 0 20px rgb(195, 0, 255),
    0 0 40px #0ff;
  } */

  100% {
    text-shadow:
    0 0 5px #fff,
    0 0 10px rgb(195, 0, 255),
    0 0 40px rgb(195, 0, 255),
    0 0 80px #0ff;
    opacity: 0.9;
  }
}