.App {
	background-image: url("components/img/background2_pixelized_1680x1500.png");
	background-position-y: -300px;
	background-attachment: scroll;
	background-size: inherit;
	background-repeat: no-repeat;
	height: 100vh;
}
@media screen and (orientation: portrait) {
	.App {
		display: none;
	}
}
